*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.hero{
	height: 100%;
	width: 100%;
	background-image: url('/static/photo/rr.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;
}

.sign-up-now
{
	width: 320px;
	height: 450px;
	position: relative;
	margin: 8% auto;
	background: #fff;
	padding: 5px;
	

}  

.sign-up-now h1{
	padding: 60px;
	color: #FF7F50;
	margin-bottom: 100px;
	text-align: center;
} 

.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field{

	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width:100%;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.submit-btn{
	width: 65%;
	padding: 10px 30px;
	cursor:pointer;
	display:block;
	margin: auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
}



