{% load static %}
<html>
<head>
     <tittle></tittle>
     <meta charset ="UTF-8">
     <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/services.css'%}">
		 <link href="{% static 'css/http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic'%}" rel='stylesheet'>
     <link href="{% static 'css/https://fonts.googleapis.com/css?family=Montserrat|Open+Sans'%}" rel="stylesheet">
</head>
<body>
  <div class="menu">
      <div class="leftmenu">
         <img src="{% static 'photo/logo.png'%}" alt="">
      </div>
       <div class="rightmenu">
                  <ul>
                    <li><a href="{% url 'index' %}"> Home </a></li>
                    <li><a href="{% url 'programs' %}"> Programs </a></li>
                    <li><a href="{% url 'trainers' %}">Trainers</a></li>
                    <li class="active"><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a> </li>
                    <li><a href="{% url 'register' %}">Signup</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                  </ul>

            </div>
          </div>
      
      <div class="hero">
      <div class="container">
        <div class="box">
          <h2>01</h2>
          <h3> Workout Tips and Routine</h3>
          <p>Our goal is to make health and fitness attainable, affordable and approachable. </p>
        </div>

        <div class="box">
          <h2>02</h2>
          <h3> Yoga </h3>
          <p> To help you live a better, happier, healthier life, we offer free yoga videos with best mentors.</p>
         </div>

             <div class="box">
          <h2>03</h2>
          <h3> Workout Videos</h3>
          <p>We provide you free full-length workout videos, the most affordable and effective workout programs on the web.</p>
         </div>

      </div>
    </div>
    </body>
    </html>


